body{margin: 0%;
background-color: grey;}
.img{width: 1360px;
margin-bottom: 0px;}
.img2{width: 150px;
border-radius: 100%;}
.desk{margin-left: 200px;
margin-top: 100px;
margin-bottom: 100px;}
.graphic{margin-left: 300px;
   margin-top: 100px;
   margin-bottom: 100px;}
.person{margin-left: 370px;
   margin-top: 100px;
   margin-bottom: 100px;}