@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Kaushan+Script&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{text-align:center ;
color:white;
text-decoration: none;
padding: 35px;}
#hero-msg h1, #hero-msg h4{text-align:center ;
font-family: 'Kaushan Script', cursive,monospace;}
.button-box{text-align:center ;}
main section{text-align:center ;}
#background{
    height:725px;
    background-color:#264653; 
}
body{background-color:#E76F51;
    font-family: 'Amatic SC', cursive, script;
    font-size: 22px;
    margin: 0;
    padding:0 ;
}
header{background-color:#2A9D8F ;}
nav a:hover{background-color: #E76F51;
    color:white;
}
.book, .join{background-color: #2A9D8F ;
    color:white;
    text-decoration: none;
font-size: 18px;
padding: 15px 30px;
margin-top: 50px;
border-radius:5px;
}
.book:hover, .join:hover{background-color: #264653;
    color:white;}

footer{background-color:#264653 ;
    color:white;
    padding: 25px 50px;
    margin-top: 200px;}
footer p {
        font-size: 1.1em;
    }
footer a{color:white;
        text-decoration: none;}
footer p a:hover {
            text-decoration: underline;
        }    
              
footer a:hover{color:white;}
footer .social img{padding-top: 15px;
}
.msg h2{color:white;
font-family: 'Kaushan Script', cursive,monospace;}
.msg p{color:white;
font-size: .8em;
padding-bottom: 15px;}
.msg{background-color:#E9C46A ;
    line-height: 1.5em;
    padding: 35px;}
.home-title{color:white;
    font-family: 'Kaushan Script', cursive,monospace;
font-size: 2em;
margin-top: 10px;}
h4{color:white;}
h2{
margin: 0;
}
.icon{
    width: 80px;
    padding-top: 10px;
    
}
.logo{
    width: 80px;
}
#logo_link {padding-top: 5px;
}
#hero-img{
    width: 100%;
}
.rivers-card, .camping-card, .rapids-card{margin: 200px 0;}
.card-img{border: 10px solid #264653 ;}
main section img{box-sizing: border-box;}