@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Kaushan+Script&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{text-align:center ;
color:white;
text-decoration: none;
padding: 35px;}
#hero-msg h1, #hero-msg h4{text-align:center ;
font-family: 'Kaushan Script', cursive,monospace;}
.button-box{text-align:center ;}
main section{text-align:center ;}
#background{
    height:725px;
    background-color:#264653; 
}
body{background-color:#E76F51;
    font-family: 'Amatic SC', cursive, script;
    font-size: 22px;
    margin: 0;
    padding:0 ;
}
header{background-color:#2A9D8F ;}
nav a:hover{background-color: #E76F51;
    color:white;
}
.book, .join{background-color: #2A9D8F ;
    color:white;
    text-decoration: none;
font-size: 18px;
padding: 15px 30px;
margin-top: 50px;
border-radius:5px;
}
.book:hover, .join:hover{background-color: #264653;
    color:white;}

footer{background-color:#264653 ;
    color:white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;}
footer p {
        font-size: 1.1em;
    }
footer a{color:white;
        text-decoration: none;}
footer p a:hover {
            text-decoration: underline;
        }    
              
footer a:hover{color:white;}
footer .social img{padding-top: 15px;
}
.msg h2{color:white;
font-family: 'Kaushan Script', cursive,monospace;}
.msg p{color:white;
font-size: .8em;
padding-bottom: 15px;}
.msg{background-color:#E9C46A ;
    line-height: 1.5em;
    padding: 35px;}
.home-title{color:white;
    font-family: 'Kaushan Script', cursive,monospace;
font-size: 2em;
margin-top: 10px;}
h4{color:white;}
h2{
margin: 0;
}
.icon{
    width: 80px;
    padding-top: 10px;
    
}
.logo{
    width: 80px;
}
#logo_link {padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-img{
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg section{grid-column: 2/3;
    grid-row: 1/2;}
.rivers-card, .camping-card, .rapids-card{margin: 200px 0;}
.card-img{border: 10px solid #264653 ;}
main section img{box-sizing: border-box;}
header{
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
.home-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column:2/4;
    grid-row:2/3;
}

.camping-card {
    grid-column:5/7;
    grid-row:2/3;
}

.rapids-card {
    grid-column:8/10;
    grid-row:2/3;
}

#background {
    grid-column:1/11;
    grid-row:4/9;
}

.mountains {grid-column:2/7;
    grid-row:5/8;
}
.msg {
    grid-column:6/10;
    grid-row:6/7;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    
}
.page2{display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}
.imgpage2a{grid-column:1/2;
    grid-row:1/2;
    width: 400px;
    height: 300px;
    }
    .imgpage2b{grid-column: 1/2;
        grid-row:2/3;
        width: 400px;
    }
    .imgpage2c{grid-column: 1/2;
        grid-row:3/4;
        width: 400px;}
.arizona{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #6f7364;
    padding: 35px;
    width: 500px;
    height: 200px;
}
.idaho{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #6f7364;
    padding: 35px;
    width: 500px;
    height: 300px;
}
.utah{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #6f7364;
    padding: 35px;
    width: 500px;
    height: 200px;

}
.page2 p{
    color:white;
    font-size:0.75em;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
             