@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Russo+One&display=swap');
body{
    background-color: #a8dadc;
}
h1{
    font-family: 'Russo One', sans-serif;
    color:white;
}
p{
    font-family: 'Be Vietnam Pro', sans-serif;
    ;
}
img{
    border-radius: 20px;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
    justify-content:center;
    align-items: center;
}
.logo{
    margin-left: 525px;
}
nav{
    display: flex;
    justify-content: space-around;
    font-family:'Russo One', sans-serif;
    ;
}
#hero-background{
    background-color: #a7c957;
    width: 100%;
    height:400px;
    grid-column:1/4;
    grid-row:2/3;
    border-radius:20px;
}
.services{
    background-color:#4C5C68;
    border-radius:20px;
    width:400px;
    height:200px; 
}
.air-conditioner{
grid-column:1/2;
grid-row:1/2;
}
.cold-room{
    grid-column:2/3;
    grid-row:1/2;
}
.super-market{
    grid-column:3/4;
    grid-row:1/2;
}
.hero-img{
    grid-column:1/4;
    grid-row:2/3;
    align-self: center;
    justify-self:center;
}
footer img{
    width: 25px;
    height:25px;
}
#market-img{
    border-radius:20px;
}
.hero-img{
    border-radius: 20px;
    grid-column: 1/2;
    width:60%;
    height: 90%;
}
#air{
grid-column:1/2;
grid-row: 1/2;
}
#room{
    grid-column:2/3;
    grid-row: 1/2;
}
#super{
    grid-column:3/4;
    grid-row: 1/2;
}
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(247, 243, 243, 0.952), rgba(27, 155, 240, 0.5)), url("colder/images/aire\ y\ control.jpg");
  
    /* Set a specific height */
    height: 50%;
    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;;
    width:700px;
    grid-column:2/4;
    grid-row: 2/3;
    border-radius:20px;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .hero-img2{
    height: 300px;;
    width:700px;
    grid-column:2/4;
    grid-row: 2/3;
    border-radius:20px;
  }
  .content-page2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    justify-items: center;
    align-content: center;
    
  }
.services-page2{
    background-color:#4C5C68;
    border-radius: 20px;
    align-self:center;
    justify-self:center;
    text-align: center;
  }
#air-page2{width: 100%;
    height:200px;
    grid-column:2/3;
    grid-row:1/2;
}
 #piso-techo{width: 100%;
    height:200px;
    grid-column:2/3;
    grid-row:2/3;}
#roof-top{width: 100%;
    height:200px;
    grid-column:2/3;
    grid-row:3/4;}
.air-img{grid-column:1/2;
    grid-row:1/2;}
.piso-techo-img{grid-column:1/2;
        grid-row:2/3;}
.roof-top-img{grid-column:1/2;
        grid-row:3/4;}
.paragraph{
    color: white;
}