.container{
    display:grid;
grid-template-columns: 1fr 1fr;
width: 600px;
height:200px;}
.img{grid-column: 1/2;

    grid-row: 1/3;
width: 100%;
height:100%;}
.first{}
.second{
    grid-column: 2/3;
    grid-row:1/3;
    background-color: rgb(167, 167, 167);
}
.tart{grid-column: 1/3;
    grid-row: 1/2;
font-size: 80px;
align-self:center;
justify-self:center;}
.cherries{
    grid-column: 2/3;
    grid-row: 2/3;
    color:red;
    align-self:center;
    justify-self: center;
    font-size: 50px;
}